dist/
node_modules/
logs/
package.json
.env*
package-lock.json
wqimsAPI.crt
wqimsAPI.csr
wqimsAPI.key
wqimsAPI.pfx
.svn/entries
.svn/format
.svn/wc.db
.svn/wc.db-journal
.svn/pristine/
.env_dev.txt
.env_prd.txt
.gitignore
cert*
package*
private*
nuget.config
PROJECT_MIGRATION_LOG.txt
UpgradeLog.htm
WQIMS_TS_VS.esproj
WQIMS_TS_VS.esproj.user
WQIMS-api.njsproj
WQIMS-api.njsproj.user
WQIMS.sln
.vs/WQIMS/copilot-chat/c1d2b52f/sessions/1ba33b96-1079-4917-84db-5436ffc0316a
.vs/WQIMS/copilot-chat/c1d2b52f/sessions/1c0b96af-12ea-4e00-9d08-82d690170ea6
.vs/WQIMS/copilot-chat/c1d2b52f/sessions/09f6168e-9c8b-4022-a2a9-dd768381bac0
.vs/WQIMS/copilot-chat/c1d2b52f/sessions/8219c8be-ba24-4c8c-bf7f-1f03003ca7be
.vs/WQIMS/copilot-chat/c1d2b52f/sessions/dd59bf1d-5134-4169-89b8-f886595ed2b2
.vs/WQIMS/CopilotIndices/0.2.1634.3922/CodeChunks.db
.vs/WQIMS/CopilotIndices/0.2.1634.3922/SemanticSymbols.db
.vs/WQIMS/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-shm
.vs/WQIMS/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-wal
.vs/WQIMS/FileContentIndex/0ad1295a-e0fa-4a27-92cf-1cd3d73aa835.vsidx
.vs/WQIMS/FileContentIndex/0ad7996b-c1da-4f5d-a583-5ef43c6f6408.vsidx
.vs/WQIMS/FileContentIndex/1aef94ff-e718-412a-b5bb-194549b7698d.vsidx
.vs/WQIMS/FileContentIndex/3d85c02d-0925-48f9-93ba-e69205da56ea.vsidx
.vs/WQIMS/FileContentIndex/4bd990df-2288-4dad-8314-30860eaad24c.vsidx
.vs/WQIMS/FileContentIndex/4fd9c882-c59b-4daa-9a0e-183a6c5a1358.vsidx
.vs/WQIMS/FileContentIndex/7efa4a73-0d4e-41c7-b48b-d061b84c846e.vsidx
.vs/WQIMS/FileContentIndex/8eb299b3-74f2-4045-81f4-50e6595d6cb6.vsidx
.vs/WQIMS/FileContentIndex/13ab9e91-1874-4b48-8896-f91ddf684efa.vsidx
.vs/WQIMS/FileContentIndex/54a2e8d3-d973-4265-a29a-1eb2ec4d1f0c.vsidx
.vs/WQIMS/FileContentIndex/323bf4ec-447a-43c1-87cc-f5a264aadca4.vsidx
.vs/WQIMS/FileContentIndex/559fb156-2ef4-4ded-983c-5a2d161aa37c.vsidx
.vs/WQIMS/FileContentIndex/580ff972-57e5-4313-9fb3-74362ba79f38.vsidx
.vs/WQIMS/FileContentIndex/1033c0a3-87a4-4f17-9e7a-56f72bab162a.vsidx
.vs/WQIMS/FileContentIndex/90059b61-3e70-4c46-ad61-4a898845a66f.vsidx
.vs/WQIMS/FileContentIndex/308212a2-d49b-437d-8035-c49f4de0cdd8.vsidx
.vs/WQIMS/FileContentIndex/cbfa2d72-708b-4c2a-9653-b77fe23de210.vsidx
.vs/WQIMS/FileContentIndex/da879f11-af60-4e6b-866a-fd164e293cb6.vsidx
.vs/WQIMS/FileContentIndex/dc2e0045-41aa-4994-b6d1-1692a63ba31a.vsidx
.vs/WQIMS/FileContentIndex/dd6ec5e7-9fbe-4b6a-9257-924c1675daf4.vsidx
.vs/WQIMS/FileContentIndex/e53bf627-f1ce-4810-9040-e2236aac2ab7.vsidx
.vs/WQIMS/FileContentIndex/eb7c4e2d-a071-4d5f-93b7-77678256970e.vsidx
.vs/WQIMS/FileContentIndex/f8147a26-d7ec-4596-8890-8d7b146f059b.vsidx
.vs/WQIMS/v17/.suo
.vs/WQIMS/v17/DocumentLayout.backup.json
.vs/WQIMS/v17/DocumentLayout.json
.vs/WQIMS/v17/fileList.bin
.vs/WQIMS-api/config/applicationhost.config
.vs/WQIMS-api/copilot-chat/c1d2b52f/sessions/680902cd-b05e-4691-8174-1b85c91ad92d
.vs/WQIMS-api/FileContentIndex/5d6c9604-dcf5-4507-bc2e-1a6835e93986.vsidx
.vs/WQIMS-api/FileContentIndex/5db05f02-1d97-4a71-bc98-e2a4a4c60f4e.vsidx
.vs/WQIMS-api/FileContentIndex/58c7c7ef-6dee-400d-bea5-0af397b2ca8d.vsidx
.vs/WQIMS-api/FileContentIndex/63f5f3a0-5840-4dd6-b98c-241b5e53d48a.vsidx
.vs/WQIMS-api/FileContentIndex/94dfc38f-339a-489c-a6b2-b508b85ef2c1.vsidx
.vs/WQIMS-api/FileContentIndex/99b82920-a82b-46c0-b938-099dd273183d.vsidx
.vs/WQIMS-api/FileContentIndex/0533b4dd-31a8-450e-a248-6998c91b977c.vsidx
.vs/WQIMS-api/FileContentIndex/829bd8b0-486a-45f1-bc7e-aa9e790533f2.vsidx
.vs/WQIMS-api/FileContentIndex/4252a1cc-3295-4db3-9a78-f1a62594a45c.vsidx
.vs/WQIMS-api/FileContentIndex/9935e5c6-c08e-42a4-8ba7-771b5ebf9914.vsidx
.vs/WQIMS-api/FileContentIndex/18089e7c-dea8-4dcc-9e30-629ea6ff2428.vsidx
.vs/WQIMS-api/FileContentIndex/61571d3f-d13d-4055-9068-92ae4c63c281.vsidx
.vs/WQIMS-api/FileContentIndex/819326e7-9525-4b12-90ef-17e88c3b0cba.vsidx
.vs/WQIMS-api/FileContentIndex/2273961d-2527-443d-ba0f-9e9be21ea775.vsidx
.vs/WQIMS-api/FileContentIndex/58522464-1ce0-4f02-8804-b3e9c3f50e70.vsidx
.vs/WQIMS-api/FileContentIndex/cbd9cda4-3c8b-4267-bd8e-7535a6d1573e.vsidx
.vs/WQIMS-api/FileContentIndex/d7b52b9b-e066-4499-9060-587dd08a3f7b.vsidx
.vs/WQIMS-api/FileContentIndex/d41e4c75-98dd-4026-add2-4b6d8cc62f20.vsidx
.vs/WQIMS-api/FileContentIndex/df16da8f-e870-4652-97ef-bf56e327efd7.vsidx
.vs/WQIMS-api/FileContentIndex/ff9cb6f3-7043-4a64-a434-22c7501b7f72.vsidx
.vs/WQIMS-api/v17/.suo
.vs/WQIMS-api/v17/DocumentLayout.json
.vs/WQIMS-api/v17/fileList.bin
.vs/WQIMS-api-proxy/FileContentIndex/4defa8f0-e43c-4c31-ba7c-1d1cbb2049c2.vsidx
.vs/WQIMS-api-proxy/v17/.suo
.vscode/launch.json
bin/Microsoft.NodejsTools.WebRole.dll
obj/Debug/WQIMS-api-proxy.njsproj.AssemblyReference.cache
obj/Debug/WQIMS-api-proxy.njsproj.CoreCompileInputs.cache
obj/Debug/WQIMS-api-proxy.njsproj.FileListAbsolute.txt
obj/Debug/WQIMS-api.njsproj.AssemblyReference.cache
obj/Debug/WQIMS-api.njsproj.CoreCompileInputs.cache
obj/Debug/WQIMS-api.njsproj.FileListAbsolute.txt
obj/Release/WQIMS-api-proxy.njsproj.AssemblyReference.cache
.gitignore
